@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#led {
    display: none;
}

.head {
    display: flex;
    align-items: center;
    margin: 24px 20px;
    h1 {
        font-size: 1.3rem;
        margin: 0 0 0 16px;
        font-family: Roboto, sans-serif;
        color: #1e1b24;
    }
}

.switch {
    cursor: pointer;
    width: 64px;
    height: 28px;
    margin: 20px 0 -40px 16px;
    background: #dadada;
    display: block;
    border-radius: 100px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 24px;
        height: 24px;
        background: #fff;
        border-radius: 100%;
        transition: 0.3s;
    }

}

#led:checked + .switch{
    background: #31beb5;
}

#led:checked + .switch:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.card {
    height: auto;
    width: 320px;
    margin: 24px;
    padding: 2px;
    border-radius: 12px;
    border:1px solid #eaeaea;
    position: relative;
    .header {
        text-align: center;
        img {
            width: 200px;
        }
    }
    .strength-led {
        display: flex;
        color: #1e1b24;
        margin: 20px;
        font-family: Abel;
        align-items: center;
        span {
            font-size: 1.2rem;
        }
    }
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    margin: 0 12px;
    border-radius: 4px;
    background: #d3d3d3;
    transition: opacity .2s;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        border-radius: 12px;
        background: #31beb5;
        cursor: pointer;
    }
}